.contacts
  %p  
    %b Silvia Piantini
    
  %p IT (+39) 348 8286040
  %p DE (+49) (0) 1577 4866995


  %p
    %a{ href: "mailto:silviapiantini@hotmail.it" } silviapiantini@hotmail.it
    
  // yeah, style!
  %p{ style: "margin: 40px 0 0" } 
    %a{ href: "https://facebook.com/pages/EsTemporary-by-Silvia-Piantini/184529795005606" } 
      %img{ src: "/imgs/icons/facebook.png" }
  %p
    %a{ href: "https://pinterest.com/estemporary/" } 
      %img{ src: "/imgs/icons/pinterest.png" }
      
  %p.madeby
    Web presence by 
    %a{ href: "http://makevoid.com" } makevoid
  %p.mini
    - github = "https://github.com/makevoid/estemporary"
    The 
    %a{ href: github } source code
    is 
    %a{ href: github } open
