.contacts
  %p.main
    %a{ href: "mailto:silviapiantini@hotmail.it" } silviapiantini@hotmail.it
  %p.main
    %a{ href: "https://www.facebook.com/pages/EsTemporary-by-Silvia-Piantini/184529795005606?fref=ts" } Facebook


  %p Phone:
  %p &nbsp;&nbsp;&nbsp; IT (+39) 348 8286040
  %p &nbsp;&nbsp;&nbsp; DE (+49) (0) 1577 4866995
