/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('/imgs/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('/imgs/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('/imgs/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('/imgs/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0; }

a {
  text-decoration: none; }

html, body {
  margin: 0;
  padding: 0;
  color: #222222; }

.clear {
  clear: both; }

@font-face {
  font-family: helvetica_neue;
  src: url("/fonts/helvetica_neue.eot");
  src: url("/fonts/helvetica_neue.eot?#iefix") format("embedded-opentype"), url("/fonts/helvetica_neue.woff") format("woff"), url("/fonts/helvetica_neue.ttf") format("truetype"), url("/fonts/helvetica_neue.svg#helvetica_neue") format("svg"), url("/fonts/helvetica_neue.otf"); }

a {
  color: black;
  font-weight: 500; }

a:hover {
  color: #666666; }

body {
  background: white;
  font-family: helvetica_neue, Helvetica, Arial, Verdana, sans-serif; }

.upcase {
  text-transform: uppercase; }

#container {
  width: 100%;
  margin: 40px auto 50px;
  max-width: 1400px; }

h1 {
  width: 100%; }
  h1 img {
    width: 50%;
    max-width: 100px;
    margin: 0 auto 22px;
    display: block; }
  h1 a:hover img, h1 img:hover {
    opacity: 0.8; }
  h1 span {
    display: block;
    text-align: center; }
  h1 .title {
    font-family: helvetica_neue, Helvetica, Arial, Verdana, sans-serif;
    font-size: 0.8em; }
  h1 .by {
    font-family: "Times New Roman";
    font-size: 0.5em;
    font-style: oblique;
    font-weight: normal;
    position: relative;
    top: -4px; }

nav {
  margin: 40px auto 0 auto;
  text-transform: uppercase;
  font-size: 0.7em;
  width: 180px;
  padding: 0 0 0 2%; }
  nav a {
    display: block;
    color: #444444;
    margin: 10px 0 0 0;
    font-weight: normal; }
  nav a.selected {
    color: #111111; }

.subnav {
  margin: 0 10px 0 10px; }
  .subnav a {
    color: #888888; }
  .subnav a:hover {
    color: black; }

header {
  width: 30%;
  padding: 0 0 0 2%;
  float: left; }

.content {
  width: 70%;
  color: #222222;
  float: left;
  margin: 22px 0 0;
  padding: 0 2% 0 1%; }

.gallery img {
  width: 25%;
  padding: 0 3% 3% 0;
  float: left; }

p {
  margin: 0 0 10px 0; }

.contacts {
  font-family: Times New Roman, Times, Georgia, serif;
  font-style: oblique;
  margin: 0 5%; }
  .contacts p.main {
    margin: 0 0 20px 0; }

.subnav {
  display: none; }

.subnav.open {
  display: block; }

.big {
  font-size: 3.2em;
  text-align: center;
  font-family: Times New Roman, Times, Georgia, serif;
  font-style: oblique;
  margin: 200px 0; }

.concept {
  width: 330px;
  margin: 0 auto; }
  .concept img {
    margin: 80px 0 0 0;
    width: 100%;
    position: relative;
    left: -40px; }

@media(max-width: 650px) {
  .concept img {
    left: 0; } }

@media(max-width: 650px) {
  header {
    width: 100%; }

  .content {
    width: 100%;
    margin-top: 40px; }

  .gallery img {
    width: 33%; } }